@font-face {
	font-family: 'kb';
	src: url('kb.eot');
	src: url('kb.eot?#iefix') format('embedded-opentype'),
		url('kb.woff') format('woff'),
		url('kb.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

html {
background-color: black;
font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}

li {
  margin: auto;
  list-style: none;
  padding: 0;
}

.locations {
  position: fixed;
  width: 100%;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  transform: translate(-50%, -50%);
  opacity: 0;
  padding-bottom: 50px;
  width: 80%;
  transition: 1s;
}

.locations ul, p {
  padding: 0;
  margin: auto;
  text-align: center;
  font-family: Futura;
  font-weight: normal;
  font-size: 20px;
  font-style: italic;
  color: #C5B49B;
}

p {
  color: #9F8263;
  font-family: Futura;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}


.show {
  opacity: 1; margin-left: 0px;
}

.hide {
  opacity: 0; margin-left: -20px;
}

.locations li {
  line-height: 2.5;
  display: inline;
  padding: 10px;
}

.locations li:nth-child(even) {
  color: #111111;
}

h1 {
  text-align: center;
  font-family: Univers Lt Std;
  font-weight: 400;
  font-size: 30px;
  color: black;
  width: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 100px;
  transition: 1s;
}

#toggle:hover {
  color: white;
  cursor: pointer;
}

#toggle {
  animation-name: load;
  animation-duration: 2s;
  animation-iteration-count: 1;
  display: none;
}

img {
  display: none;
}

h1 li {
  text-align: center;
  font-family: 'kb';
  font-weight: normal;
  font-size: 120px;
  color: white;
	animation-name: title;
	animation-duration: 30s;
	animation-fill-mode: forwards;
  /*text-transform: uppercase;
  letter-spacing: .03em;*/
}

@keyframes load {
    0% {color: #9F8263; letter-spacing: 0;}
    50% {color: white; letter-spacing: 20px; padding-left: 20px;}
    100% {color: #9F8263; letter-spacing: 0;}
}

@keyframes title {
    0% {color: black;}
		10% {color: black}
		13% {color: white}
		70% {color: white}
		98% {color: white}
		100% {color: black}
}

@keyframes fog {
    0% {opacity: 0; margin-left: 1000px;}
    50% {opacity: .1; margin-left: 0px}
    100% {opacity: 0; margin-left: -1000px}
}

img {
  z-index: -1;
}
#cloudone {
  -webkit-filter: blur(25px);
	filter: blur(25px);
  width: 130%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fog;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#cloudtwo {
  -webkit-filter: blur(25px);
	filter: blur(25px);
  width: 130%;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fog;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#cloudthree {
  -webkit-filter: blur(25px);
	filter: blur(25px);
  width: 100%;
  position: fixed;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: fog;
  animation-duration: 18s;
  animation-delay: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 0;
}

.rightnow {
font-family: 'kb';
font-weight: normal;
font-size: 80px;
position: absolute;
width: 99%;
height: 200px;
background-color: black;
z-index: 999;
color: white;
text-align: center;
padding-top: 42vh;
animation-name: reveal;
animation-duration: 8s;
animation-fill-mode: forwards;
}

@keyframes reveal {
    0% {opacity: 0; color: white;}
    9% {opacity: 0; color: white;}
    12% {opacity: 1; color: white;}
    80% {opacity: 1; color: white;}
    81% {opacity: 1; color: black;}
    99% {opacity: 1; color: black;}
    100% {opacity: 0; color: black;}
}
